@import './navbar';
@import './banner';
@import './displayProduct';
@import './addedCart';
@import './productDetails';
li {
    list-style: none;
}
.link {
    text-decoration: none;
    color: black;
    &:hover {
        color: rgb(3, 118, 211);
    }
}
